body {

    margin: 0;
    padding: 10vh 0 0 0;

    /* Hide scrollbar  */
    &::-webkit-scrollbar {
        display: none;
    }

    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 1em;

    background-image: url("images/facade.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.fa-linkedin, .fa-envelope, .fa-phone-square {
    color: white;
}

button {
    padding: 1em 3em;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);
    border-style: none;
    border-radius: 1.5em;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/*---------------------HEADER-------------------------------------------------*/

header {

    top: 0;
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    position: fixed;
    color: white;
    z-index: 10;

    & .HeaderTitle h1 {
        
        color: white;
        float: left;
        padding: 0 1vw 0 1vw;
        margin: 0 1vw;
        text-decoration: none;
        font-size: 1.5em;
    }

    & .HeaderNav {

        float: right;

        & .NavChoice {
            
            display: inline-block;
            color: white;
            padding: 0 1vw;
            text-decoration: none;
        }

        & .Contacts {

            float: right;
            padding: 0 1vw 0 0;

            & .ContactsHead {
                
                display: inline-block;
                text-decoration: none;
                color: white;
                text-align: center;
                padding: 0 1vw;
                height: 100%;
            }

            & .DropDown {
                
                width: 100%;
                list-style-type: none;
                margin: 0;
                position: absolute;
                background-color: transparent;
                display: none;
            }
        }
    }
}

/*---------------------HOVERS-------------------------------------------------*/

header .HeaderTitle h1:hover,
header .HeaderNav .NavChoice:hover,
header .HeaderNav .Contacts:hover .ContactsHead {

    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 0.15em;
}

header .HeaderNav .Contacts:hover .DropDown {

    display: block;
}

/*---------------------HOVERS-------------------------------------------------*/
/*---------------------HEADER-------------------------------------------------*/

/*---------------------MAIN---------------------------------------------------*/

/*---------------------MAIN---------------------------------------------------*/
main {

    & h2 {

        margin: 15vh 0;
        text-align: center;
        color: white;
        font-size: 3em;
    }

    & article {

        & .Intro {

            background: rgb(0,29,100);
            background: linear-gradient(90deg, rgba(0,29,100,1) 0%, rgba(0,60,135,1) 35%, rgba(0,152,241,1) 100%);
            color: white;
            padding: 5vh 5vw;
            font-size: 1.5em;
            text-align: justify;
        }

        & .Content {

            display: grid;
            grid-template-columns: 15% 85%;
            grid-template-rows: auto auto auto;

            & section {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & a {

                    font-size: 1.5em;
                    margin: 5vh 0;
                }
            }

            & h3, p {

                display: block;
                margin: 0;
                padding: 3vh 5vw;
                font-size: 1.5em;
            }

            & h3 {

                font-size: 1.5em;
                text-align: right;
                padding: 3vh 2vw;

            }

            & p {

                display: flex;
                align-items: center;
                font-weight: normal;
                text-align: justify;
            }

            & h4 {

                font-size: 1.5em;
                text-align: center;
                margin: 3vh 0;
                color: white;
            }

            & img {

                border-style: solid;
                border-color: rgb(30, 30, 30);
                border-width: 0.3em;
                margin: 5vh 0;
            }
        }
    }
}



#modu {

    background-color: rgb(242, 242, 242);
    color: rgb(0,29,100);
}
#modup {

    background-color: rgb(0, 60, 135);
    color: rgb(242, 242, 242);
}
#prot {

    background-color: rgb(218, 218, 218);
    color: rgb(0,29,100);
}
#protp {

    background-color: rgb(0, 36, 115);
    color: rgb(218, 218, 218);
}
#prog {

    background-color: rgb(242, 242, 242);
    color: rgb(0,29,100);
}
#progp {

    background-color: rgb(0,29,100);
    color: rgb(150, 150, 150);
}


/*--------------------HOVERS--------------------------------------------------*/
main article section section a:hover {

    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 0.15em;
}
/*--------------------HOVERS--------------------------------------------------*/
/*--------------------FOOTER--------------------------------------------------*/
footer {

    width: 100%;
    background: rgb(0,29,100);
    background: linear-gradient(90deg, rgba(0,29,100,1) 0%, rgba(0,60,135,1) 35%, rgba(0,152,241,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0; 
    color: white;

    & button {

        font-size: 1.3em;
        margin-bottom: 5vh;
    }

    & .FooterLinks a {

        color: white;
        text-decoration: none;
        margin: 0 1vw;
    }
}

#inspired {
    
    margin: 2vh 0;

    & p {

        margin: 0 1vh 0 0;
        float: left;
    }
    & a {

        float: right;
    }
}

/*---------------------HOVERS-------------------------------------------------*/
footer button:hover{
    
    transform: scale(1.1);
    transition: .5s;
}
footer .FooterLinks a:hover {

    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 0.15em;
}
/*---------------------HOVERS-------------------------------------------------*/
/*--------------------FOOTER--------------------------------------------------*/

/*--------------------CODE MODALS---------------------------------------------*/
.CodeBlock {

    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    overflow: hidden;

    & pre {

        width: 80vw;
        height: 75vh;
        position: relative;
        top: 12vh;
        padding: 2em 4em;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    & .ModalClose {

        text-decoration: none;
        font-size: 2em;
        color: rgb(30, 30, 30);
        position: absolute;
        top: 1em;
        right: 2em;

        &:hover {

            color: rgb(130, 130, 130);
        }
    }
}

/*--------------------MODALS OPENING------------------------------------------*/
#modal1:target , #modal2:target {

    opacity: 1;
    visibility: visible;
}

#modal1:target pre, #modal2:target pre{

    opacity: 1;
    visibility: visible;
}
/*--------------------MODALS OPENING------------------------------------------*/
/*--------------------CODE MODALS---------------------------------------------*/