body {
  margin: 0;
  padding: 10vh 0 0 0;
  /* Hide scrollbar  */
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  font-size: 1em;
  background-image: url("images/facade.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

.fa-linkedin, .fa-envelope, .fa-phone-square {
  color: white;
}

button {
  padding: 1em 3em;
  color: white;
  background-color: #1e1e1e;
  border-style: none;
  border-radius: 1.5em;
  cursor: pointer;
  font-family: 'Cuprum', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/*---------------------HEADER-------------------------------------------------*/
header {
  top: 0;
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  position: fixed;
  color: white;
  z-index: 10;
}

header .HeaderTitle h1 {
  color: white;
  float: left;
  padding: 0 1vw 0 1vw;
  margin: 0 1vw;
  text-decoration: none;
  font-size: 1.5em;
}

header .HeaderNav {
  float: right;
}

header .HeaderNav .NavChoice {
  display: inline-block;
  color: white;
  padding: 0 1vw;
  text-decoration: none;
}

header .HeaderNav .Contacts {
  float: right;
  padding: 0 1vw 0 0;
}

header .HeaderNav .Contacts .ContactsHead {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0 1vw;
  height: 100%;
}

header .HeaderNav .Contacts .DropDown {
  width: 100%;
  list-style-type: none;
  margin: 0;
  position: absolute;
  background-color: transparent;
  display: none;
}

/*---------------------HOVERS-------------------------------------------------*/
header .HeaderTitle h1:hover,
header .HeaderNav .NavChoice:hover,
header .HeaderNav .Contacts:hover .ContactsHead {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 0.15em;
}

header .HeaderNav .Contacts:hover .DropDown {
  display: block;
}

/*---------------------HOVERS-------------------------------------------------*/
/*---------------------HEADER-------------------------------------------------*/
/*---------------------MAIN---------------------------------------------------*/
main .Top {
  width: 100%;
  margin-top: 15vh;
  padding-bottom: 15vh;
}

main .Top h1 {
  text-align: center;
  color: white;
  font-size: 3em;
}

main .Top img {
  position: absolute;
  right: 0;
  top: 15vh;
  width: 10%;
  border-style: solid;
  border-color: #1e1e1e;
  border-width: 0.5em;
  margin: 0 5vw;
}

main article .Intro {
  background: #001d64;
  background: -webkit-gradient(linear, left top, right top, from(#001d64), color-stop(35%, #003c87), to(#0098f1));
  background: linear-gradient(90deg, #001d64 0%, #003c87 35%, #0098f1 100%);
  color: white;
  padding: 5vh 5vw;
  font-size: 1.5em;
  text-align: center;
}

main article .QnA {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

main article .QnA h3, main article .QnA p {
  display: block;
  margin: 0;
  padding: 3vh 5vw;
  font-size: 1.5em;
}

main article .QnA h3 {
  font-size: 1.5em;
  text-align: right;
  padding: 3vh 2vw;
}

main article .QnA p {
  font-weight: normal;
  text-align: justify;
}

#whyme {
  background-color: #dadada;
  color: #001d64;
}

#whymep {
  background-color: #001d64;
  color: #969696;
}

#whyinfo {
  background-color: #f2f2f2;
  color: #001d64;
}

#whyinfop {
  background-color: #002473;
  color: #dadada;
}

#workengines {
  background-color: #dadada;
  color: #001d64;
}

#workenginesp {
  background-color: #003c87;
  color: #f2f2f2;
}

#hobbies {
  background-color: #f2f2f2;
  color: #001d64;
}

#hobbiesp {
  background-color: #0098f1;
  color: white;
}

main .TextBanner {
  width: 100%;
  background-color: #1e1e1e;
  color: #f2f2f2;
  font-size: 1.5em;
  text-align: center;
  padding: 3vh 0;
}

/*---------------------MAIN---------------------------------------------------*/
/*--------------------FOOTER--------------------------------------------------*/
footer {
  width: 100%;
  background: #001d64;
  background: -webkit-gradient(linear, left top, right top, from(#001d64), color-stop(35%, #003c87), to(#0098f1));
  background: linear-gradient(90deg, #001d64 0%, #003c87 35%, #0098f1 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0;
  color: white;
}

footer button {
  font-size: 1.3em;
  margin-bottom: 5vh;
}

footer .FooterLinks a {
  color: white;
  text-decoration: none;
  margin: 0 1vw;
}

#inspired {
  margin: 2vh 0;
}

#inspired p {
  margin: 0 1vh 0 0;
  float: left;
}

#inspired a {
  float: right;
}

/*---------------------HOVERS-------------------------------------------------*/
footer button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

footer .FooterLinks a:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 0.15em;
}

/*---------------------HOVERS-------------------------------------------------*/
/*--------------------FOOTER--------------------------------------------------*/
/*# sourceMappingURL=QuiSuisJe2.css.map */